<!DOCTYPE html>
<html>
<head>
    <title>Log Sleep</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main class="container">
        <h1>Log Sleep</h1>

        <form method="POST" action="/submit-sleep">
            <div class="field-row">
                <input type="date" name="date">
                <input type="time" name="sleep_time">
            </div>

            <br>

            <button type="submit">Save Sleep</button>
        </form>
    </main>
</body>
</html>
